[testAdd64TwoIntegers]
  x = {{.testAdd64TwoIntegers.x}}
  y = {{.testAdd64TwoIntegers.y}}
  sum = {{add64 .testAdd64TwoIntegers.x .testAdd64TwoIntegers.y}}

[testAddTwoIntegers]
  x = {{.testAddTwoIntegers.x}}
  y = {{.testAddTwoIntegers.y}}
  sum = {{add -10 10}}
